
body{
    margin:0;
    height: 100%;
    width: 100%;
  scroll-behavior: smooth;
  margin-right: -200px;
  overflow-x: hidden;

  }
 

section:target {
  animation: highlight 1s;
}

@keyframes highlight {
  0% {
    background-color: #ffcc99;
  }
  100% {
    background-color: inherit;
  }
}
  
.navbar{
  position: fixed;
  top:0;
  background-color:#f3f3f3;
  width: 100%;
  height: 60px;
  z-index: 2;

  
}
#fixedwidth{
  width: 1200px;
  margin:0 auto;
}
#booklogo{
  float: left;
  padding-right: 100px;
  position: relative;
  top:-10px;

  
}
.navlist{
 padding: 0;
}
.navlist ul{
  list-style: none;
  padding:15px 70px 0px 0px;

}
.navlist li{
  color: rgb(1, 60, 60);
  float: left;
  border-right: 1px solid gray;
  padding-right: 50px;
  padding-left: 40px;
  
}

#break{
clear: both;
}
.flex-container {
  display: flex;
  flex-direction: row;
  position: relative;
  top:-10px;
  height: 750px;
  align-items: stretch;
}

.flex-container > div {
  margin-top:75px;
  padding:0;
  font-size: 100px;
  width:100%;
  border:30px solid #06314a;
  

}
#cover{
  background-image: url("image/book.png");
  border-left: none;
}
#subtitle{
  border-right:none;
  background-color: #fffdfc;
  
}
#bchoice{
  font-size: 15px;
  color: orange;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding:40px 10px 5px 120px;
  font-weight: bold;
}
#subtitle img{
 position: relative;
 top:-70px;
  padding-top:50px;
  padding-left: 100px;
   
}
#subtitle input{
  position: relative;
  top:-120px;
  left:120px;
  border:2px solid black;
  border-radius: 20px;
  height:35px;
  padding-left: 20px;
  padding-right: 60px;
  background-image: url(image/rarrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 2px;

}
#gostore
{
color:#072d36;
position: relative;
top:-175px;
left:380px;
font-size: 15px;
font-family: Times New Roman, Times, serif;
}
#help{
  font-size: 10px;
font-family:  Arial, Trebuchet MS, sans-serif;
width: 300px;
position: relative;
top:-70px;
left:120px;
}
#teams{
  color: orange;
  text-decoration: underline;
  
}
#title{
  text-align: center;
  font-weight: bold;
  font-family: 'Brush Script MT', cursive;
  font-size: 100px;
  color: #64098f;

}
#best-selling-books{
  position: relative;
  top:-110px;
}
#subttle{
  text-align: center;
  position: relative;
  top:-110px;
}

.card-container{
  position: relative;
  top:-110px;
  left: 20px;
  display: flex;
  justify-content: space-between;
}



.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
  float: left;
  padding-right: 100px;
  height: 800px;
  transition: 0.3s;
 
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.price {
  color: grey;
  font-size: 22px;
  padding-left: 100px;
}
.card img{
  position: relative;
  right: -20px;

}
.booktitle{
  padding-left: 100px;
}
.descrpt{
  padding-left: 100px;

}

.card button {
  border: none;
  outline: 0;
  padding: 12px;

  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  padding-left: 20px;
  margin-left: 50px;
}
.magic{
  position: relative;
  top:-60px;
 
  background-color:teal;
  color: white;
}
.card button:hover {
  visibility: hidden;
  touch-action: manipulation;
  transition-duration: 0.8s;
  
}

#Recommendation{
  position: relative;
  top:-210px;
}
#review{
  position: relative;
  top:-100px;
}
#searchbar input{
  position: relative;
 top:-210px;
 left:-30px;
 border:2px solid black;
  border-radius: 20px;
 height:35px;
 padding-left: 20px;
 padding-right: 60px;
 background-image: url(image/search.png);
 background-repeat: no-repeat;
    background-position: right center;
  padding-top: 2px;
  float: right;
}
#searchbar:hover ::placeholder{
  visibility: hidden;
  
}
#review{
  position: relative;
  top:-100px;
}

.container {
  display: flex;
  position: relative;
  top:-200px;
  height: 750px;
  background-color: white;

}


.container > div {
  margin-top:75px;
  font-size: 100px;
  width:100%;
  margin: 10px;
  border:1px solid black;
}
.review-cards{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin:auto;
  text-align: center;
  font-family: arial;
  height: 300px;
  transition: 0.3s;
  
}
.middle{
  position: relative;
  top: 400px;
}
.left-container img{
 align-items: center;
}
.left-container p{
  font-size: 12.4px;
  font-family:Arial, "Trebuchet MS", sans-serif;
}
#heading{
 font-size: 25px;
 text-align: center;
 text-decoration: underline;
 font-weight: bold;
}

.right-container input{
  height: 60px;
  padding-left: 20px;
}

#review-box{
  padding-left: 350px;
  position: relative;
  top:-50px;


}
#review-box input{
  height:20px;
  margin: 0;
  margin-bottom: 0;
}
#review-box p{
  font-size: 20px;
  position: relative;
  top: 50px;
}
#feedback{
  height: 70px;
  width: 600px;
  padding-left: 30px;
}
#footter{
  position: relative;
  top:-200px;
  border-bottom: 1px solid grey;
  
}

#submit{
  height:30px;
  text-align: center;
}
#links{

 position: relative;
 top:-250px;
 float: right;
 right: 30px;
}

.terms ul{
list-style: none;
}

.terms li{
float:left;
padding-right: 80px;
font-weight: bold;
}
#agree{
  text-align: center;
}
#contact{
  position: relative;
  top: -190px;
  left: 50px;
  color: grey;
}
#uparrow{
  position: relative;
  top: -200px;
  left: 600px;
  border: none;
}
#last{
  background-color: #f7f7f7;
}